.item{
    padding: 10px;
    border: 1px solid black;
    padding: 10px;
   margin: 10px 0px 10px 0px;
    text-align: center;
}

.nav-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;

}