.main{
    margin-top: 150px;
    
}

.googleimg{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.googleinput{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



