.card{
    color: #222222;
    background-color: lightgray;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
   padding: 20px;
   border: 4px solid #4a5667;
    border-radius: 28px;
}